body{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
}
h1{
    font-size: 1.8rem;
}
p {
    margin: 15px 0;
}

/* HEADER */
.contenthead{
    min-height: 70px;
    background: #000 !important;
}
.contenthead.is-fixed{
    background: #000 !important;
}


/* HOME */
.homecontent a{
    color:#fff !important;
}


/* FOOTER */
footer{
    background: #3c3c3c;
}

/* FONT */
.floating-label-form-group {
    font-size: 11px;
}
.custom-file-label{
    font-size:15px;
}
/* COMMENTS */
.comments, .comments h5{
    font-size: 13px;
}

/* POST */

.post-list .featured{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 250px
}
.post-list .post-title{
    font-size: 25px !important;
}
.post-list .post-subtitle{
    font-size: 1em !important;
}
.post-list .post-meta{
    font-size: 12px !important;
}


.narrativehead h1{
    font-size: 30px !important;
}
.narrativehead span{
    font-size: 18px !important;
}
.narrative-single{
    text-align: justify;
    font-size: 15px;
}

/* FORM */

.btn-link{
    padding: 0;
    color: #ffb007;
}



/* LINKS ----------- */
a:focus, a:hover {
    color: #ffb007;
}
.page-link{
    color: #3c3c3c;
}
.page-link:hover{
    color: #3c3c3c;
    opacity: 0.8;
}

/* PROFILE */
.profile-content .post-list .featured{
    min-height: 100px;
}
.profile-content .post-preview p{
    margin: 0 8px;
}


/* PORTFOLIO */
.portfolio-item {
    margin-bottom: 30px;
}

/* SUMMERNOTE */
.note-editor .btn{
    padding: 2px 5px !important;
}

/* CORES */
.cl-primary{
  color: #ffb007 !important;
}